:root {
    --primary-100: #B7E4C7;
    --primary-200: #9ac6aa;
    --primary-300: #598268;
    --accent-100: #F9D9C2;
    --accent-200: #947964;
    --text-100: #333333;
    --text-200: #5c5c5c;
    --bg-100: #faf5e8;
    --bg-200: #f0ebde;
    --bg-300: #c7c2b6;
}

body {
    font-family: Arial, sans-serif;
    background-color: var(--bg-100);
    color: var(--text-100);
    margin: 0;
    padding: 0;
}

#content {
    height: fit-content;
    padding-bottom: 100px;
}

h1 {
    color: var(--primary-300);
}

/* Form styles */
form {
    background-color: var(--bg-200);
    padding: 20px;
    border-radius: 8px;
}

form input[type="text"],
form input[type="file"],
form input[type="submit"] {
    margin-bottom: 10px;
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
    border: 1px solid var(--primary-200);
    border-radius: 4px;
}

form input[type="submit"] {
    background-color: var(--primary-300);
    color: white;
    cursor: pointer;
}

form input[type="submit"]:hover {
    background-color: var(--primary-200);
}

.btn1 {
    background-color: #333333;
    color: #ffffff;
    width: 130px;
    margin: 1px;
    height: 50px;
    border-radius: 10px;
    cursor: pointer;
    display: inline-block;
    border:2px solid grey;
}

.btn1:hover {
    background-color: #fff;
    color: black;
    border: 2px solid grey;
    font-weight: bold;
}
