#wrapper {
    border: 1px solid black;
}
#header {
    display: flex;
    height: 100px;
    justify-content: center;
    align-items: center;
}

#header h1 {
    font-size: 40px;
    background-color: transparent;
}

#header img {
    margin-right: 35px;
}

#content {
    height: fit-content;
    padding-bottom: 100px;
}

#footer {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    position: relative;
    background: #87AD95;
    min-height: 100px;
    padding: 20px 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}
.social_icon, .menu {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
    flex-wrap: wrap;
}
.social_icon li, .menu li {
    list-style: none;
}
.social_icon li a {
    font-size: 2em;
    color: #000;
    margin: 0 10px;
    display: inline-block;
    transition: 0.5s;
}
.social_icon li a:hover {
    transform: translateY(-10px);
}
.menu li a {
    font-size: 1.2em;
    color: #000;
    margin: 0 10px;
    display: inline-block;
    text-decoration: none;
    opacity: 0.75;
}
.menu li a:hover {
    opacity: 1;
}
#footer p {
    color: #000;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 10px;
    font-size: 1.1em;
}
.wave {
    position: absolute;
    top: -100px;
    left: 0;
    width: 100%;
    height: 100px;
    background: url("footer_wave.png");
    background-size: 700px 165px;
  }
  
.wave#wave1 {
    z-index: 1000;
    opacity: 1;
    bottom: 0;
    animation: animateWaves 3.5s linear infinite;
}

.wave#wave2 {
    z-index: 999;
    opacity: 0.5;
    bottom: 10px;
    animation: animate 3.5s linear infinite;
}

.wave#wave3 {
    z-index: 1000;
    opacity: 0.2;
    bottom: 15px;
    animation: animateWaves 2.5s linear infinite;
}

.wave#wave4 {
    z-index: 999;
    opacity: 0.7;
    bottom: 20px;
    animation: animate 2.5s linear infinite;
}

@keyframes animateWaves {
    0% {
        background-position-x: 700px;
    }
    100% {
        background-position-x: 0px;
    }
}

@keyframes animate {
    0% {
        background-position-x: -700px;
    }
    100% {
        background-position-x: 0px;
    }
}
